In [1]:
import numpy as np
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [2]:
dia_data = pd.read_csv('heart.csv')
dia_data

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,TA,110,264,0,Normal,132,N,1.2,Flat,1
914,68,M,ASY,144,193,1,Normal,141,N,3.4,Flat,1
915,57,M,ASY,130,131,0,Normal,115,Y,1.2,Flat,1
916,57,F,ATA,130,236,0,LVH,174,N,0.0,Flat,1
917,38,M,NAP,138,175,0,Normal,173,N,0.0,Up,0

In [3]:
dia_data.loc[dia_data["Sex"] == "M", "Sex"] = 1
dia_data.loc[dia_data["Sex"] == "F", "Sex"] = 0
dia_data

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,1,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,0,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,1,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,0,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,1,NAP,150,195,0,Normal,122,N,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,1,TA,110,264,0,Normal,132,N,1.2,Flat,1
914,68,1,ASY,144,193,1,Normal,141,N,3.4,Flat,1
915,57,1,ASY,130,131,0,Normal,115,Y,1.2,Flat,1
916,57,0,ATA,130,236,0,LVH,174,N,0.0,Flat,1
917,38,1,NAP,138,175,0,Normal,173,N,0.0,Up,0

In [4]:
dia_data.loc[dia_data["ST_Slope"] == "Up", "ST_Slope"] = 1
dia_data.loc[dia_data["ST_Slope"] == "Flat", "ST_Slope"] = 0
dia_data.loc[dia_data["ST_Slope"] == "Down", "ST_Slope"] = -1
dia_data

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,1,ATA,140,289,0,Normal,172,N,0.0,1,0
1,49,0,NAP,160,180,0,Normal,156,N,1.0,0,1
2,37,1,ATA,130,283,0,ST,98,N,0.0,1,0
3,48,0,ASY,138,214,0,Normal,108,Y,1.5,0,1
4,54,1,NAP,150,195,0,Normal,122,N,0.0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,1,TA,110,264,0,Normal,132,N,1.2,0,1
914,68,1,ASY,144,193,1,Normal,141,N,3.4,0,1
915,57,1,ASY,130,131,0,Normal,115,Y,1.2,0,1
916,57,0,ATA,130,236,0,LVH,174,N,0.0,0,1
917,38,1,NAP,138,175,0,Normal,173,N,0.0,1,0

In [5]:
dia_data.loc[dia_data["ExerciseAngina"] == "Y", "ExerciseAngina"] = 1
dia_data.loc[dia_data["ExerciseAngina"] == "N", "ExerciseAngina"] = 0
dia_data

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,1,ATA,140,289,0,Normal,172,0,0.0,1,0
1,49,0,NAP,160,180,0,Normal,156,0,1.0,0,1
2,37,1,ATA,130,283,0,ST,98,0,0.0,1,0
3,48,0,ASY,138,214,0,Normal,108,1,1.5,0,1
4,54,1,NAP,150,195,0,Normal,122,0,0.0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,1,TA,110,264,0,Normal,132,0,1.2,0,1
914,68,1,ASY,144,193,1,Normal,141,0,3.4,0,1
915,57,1,ASY,130,131,0,Normal,115,1,1.2,0,1
916,57,0,ATA,130,236,0,LVH,174,0,0.0,0,1
917,38,1,NAP,138,175,0,Normal,173,0,0.0,1,0

In [6]:
dia_data.loc[dia_data["RestingECG"] == "Normal", "RestingECG"] = 0
dia_data.loc[dia_data["RestingECG"] == "ST", "RestingECG"] = 1
dia_data.loc[dia_data["RestingECG"] == "LVH", "RestingECG"] = 2
dia_data

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,1,ATA,140,289,0,0,172,0,0.0,1,0
1,49,0,NAP,160,180,0,0,156,0,1.0,0,1
2,37,1,ATA,130,283,0,1,98,0,0.0,1,0
3,48,0,ASY,138,214,0,0,108,1,1.5,0,1
4,54,1,NAP,150,195,0,0,122,0,0.0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,1,TA,110,264,0,0,132,0,1.2,0,1
914,68,1,ASY,144,193,1,0,141,0,3.4,0,1
915,57,1,ASY,130,131,0,0,115,1,1.2,0,1
916,57,0,ATA,130,236,0,2,174,0,0.0,0,1
917,38,1,NAP,138,175,0,0,173,0,0.0,1,0

In [7]:
dia_data.loc[dia_data["ChestPainType"] == "ATA", "ChestPainType"] = 0
dia_data.loc[dia_data["ChestPainType"] == "NAP", "ChestPainType"] = 1
dia_data.loc[dia_data["ChestPainType"] == "ASY", "ChestPainType"] = 2
dia_data.loc[dia_data["ChestPainType"] == "TA", "ChestPainType"] = 3
dia_data

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,1,0,140,289,0,0,172,0,0.0,1,0
1,49,0,1,160,180,0,0,156,0,1.0,0,1
2,37,1,0,130,283,0,1,98,0,0.0,1,0
3,48,0,2,138,214,0,0,108,1,1.5,0,1
4,54,1,1,150,195,0,0,122,0,0.0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,1,3,110,264,0,0,132,0,1.2,0,1
914,68,1,2,144,193,1,0,141,0,3.4,0,1
915,57,1,2,130,131,0,0,115,1,1.2,0,1
916,57,0,0,130,236,0,2,174,0,0.0,0,1
917,38,1,1,138,175,0,0,173,0,0.0,1,0

In [8]:
X = dia_data.drop(columns=['HeartDisease'])
X

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope
0,40,1,0,140,289,0,0,172,0,0.0,1
1,49,0,1,160,180,0,0,156,0,1.0,0
2,37,1,0,130,283,0,1,98,0,0.0,1
3,48,0,2,138,214,0,0,108,1,1.5,0
4,54,1,1,150,195,0,0,122,0,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...
913,45,1,3,110,264,0,0,132,0,1.2,0
914,68,1,2,144,193,1,0,141,0,3.4,0
915,57,1,2,130,131,0,0,115,1,1.2,0
916,57,0,0,130,236,0,2,174,0,0.0,0
917,38,1,1,138,175,0,0,173,0,0.0,1

In [9]:
y = dia_data['HeartDisease']
y

0      0
1      1
2      0
3      1
4      0
      ..
913    1
914    1
915    1
916    1
917    0
Name: HeartDisease, Length: 918, dtype: int64

In [10]:
model = DecisionTreeClassifier()

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2)

In [12]:
model.fit(X_train,y_train)

DecisionTreeClassifier()

In [13]:
predict = model.predict(X_test)

In [14]:
score = accuracy_score(y_test,predict)
score

0.7608695652173914